<%-include('header')-%>
  <div class="container" style="padding-top: 20vh;">

    <table id="example6" class="display nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Detail view</th>
          <th>Order Cancel</th>
        </tr>
      </thead>
      <tbody>
        <%orders.forEach((orders,i)=>{%>
        <tr>
          <td>
            <%=orders.paymentMethod%>
          </td>
          <td>
            <%=new Date(orders.date).toDateString()%>
          </td>
        </td>
        <!-- <td scope="col"><a href="/product/<%=orders._id%>" class="btn btn-info float-left">View Product</a></td> -->
        <td scope="col">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            onclick="viewdetail(`<%=orders._id%>`)">View Details</button>


          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> VIEW DETAILS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="hello">


                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </td>
          <%if(orders.ordercanceled===false){%>
            <td scope="col"><button class="btn btn-danger" onclick="confirmDelete('<%=orders._id%>')">Cancel Order</button></td>
          <%}else{%>
            <td>order cancelled</td>
          <%}%>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

  <script src="/static/javascripts/datatable.js"></script>
  <script>
    function confirmDelete(proId) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Order Canceled!',
            'Your order has been canceled.',
            'success'
          ).then(() => {
            location.href = `/cancel-order/${proId}`
          })
        }
      })
    }

    function viewdetail(id) {
      let hello = document.getElementById('hello')
      hello.innerHTML = ''
      $.ajax({
        url: `/product/${id}`,
        method: 'get',
        success: (response) => {
          
          for (let i = 0; i < response.length; i++) {
            hello.innerHTML += ` 
                        <h5 class="text-light bg-dark">${response[i].name}</h5>
                        <img src="/static/product-image/${response[i].image}.jpg" alt="" style="width: 100px;height: 75px;">
                        ${
                          (response[i].offer == 0) ?
                           `<h6 class="text-danger">Price: ${response[i].purchase}</h6>`
                            :
                           `
                            <h6 class="text-danger">Price: ${response[i].original}</h6>
                            <h6 class="text-dark">Coupon Used: ${response[i].offername}</h6>
                            <h6 class="text-success">Discount Price: ${response[i].offer}</h6>
                            <h6 class="text-success">Total Paid: ${response[i].purchase}</h6>`  
                        }
                        <p>Category: ${response[i].category}</p>
                        <p>Ordered Date: ${new Date(response[i].date).toDateString()}</p> 
                        <p>PaymentMethod: ${response[i].paymentMethod}</p>
                        <p>Delivered Address: ${response[i].town} ${response[i].state} ${response[i].pincode}</p>
                        <hr>
                        `
          }
        }
      })

    }

    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var modalTitle = exampleModal.querySelector('.modal-title')
      var modalBodyInput = exampleModal.querySelector('.modal-body input')

      modalTitle.textContent = 'New message to ' + recipient
      modalBodyInput.value = recipient
    })
  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>





  <%-include('footer')-%>