<%-include('header')-%>


<%-include('../partials/sidebarAdmin.ejs')%>
            <form>
                <input type="text" name="search" placeholder="Search Product" id="navBarSearchForm" style="width: 200px;height: 34px;">
                <input class="btn btn-dark" type="submit" value="Search" >
            </form>
            <div class="container-fluid px-4">
                <a href="/admin/add-product" class="btn btn-info float-left mt-5">Add Product</a>
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Recent Orders</h3>


                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Images</th>
                                    <th scope="col">Option</th>
                                    <th scope="col">Option</th>
                                    <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((element,i)=>{%>
                                    <tr>
                                        <th scope="row">
                                            <%=i+1%>
                                        </th>
                                        <td>
                                            <%=element.name%>
                                        </td>
                                        
                                        <td>
                                            <%=element.category%>
                                        </td>
                                        <td>
                                            <%=element.price%>
                                        </td>
                                        <td><img style="width: 50px;height: 50px;"
                                                src="/static/product-image/<%=element._id%>.jpg" alt=""></td>
                                        <%if(element.isDeleted===false){%>
                                            <td><a class="btn btn-warning float-left second" id=""
                                                    onclick="deleteproduct(`<%=element._id%>`)">Delete Product</a></td>
                                            <%}else{%>
                                                <td>deleted</td>
                                                <%}%>
                                                <td><a href="/admin/edit-product/<%=element._id%>"
                                                class="btn btn-secondary float-left">Edit Product</a></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="viewdescription(`<%=element._id%>`)">View Details</button>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLabel"> VIEW DETAILS</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div id="hellomr">
                                                            
                                        
                                                          </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                        
                            <a href=""></a>
                        
                        <nav aria-label="" class="">
                            <ul class="pagination ">
                                
                              <li class="page-item ">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                              </li>
                              <%for(let j = 1 ; j <= totalpages ; j++){%>
                              <li class="page-item "><a class="page-link" href="?page=<%=j%>"><%=j%></a></li>
                              <%}%>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                              
                            </ul>
                          </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    </div>
    <script>
        function deleteproduct(proId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(() => {
                        location.href = `/admin/delete-product/${proId}`
                    })
                }
            })
        }

        function viewdescription(id) {
            let a = document.getElementById('hellomr')
            a.innerHTML = ''
            $.ajax({
                url:`/admin/viewProductDetail/${id}`,
                method:'get',
                success:(res)=>{
                    a.innerHTML += `<p class:'text-dark'>Description:${res.description}</p>`
                }
            }) 
        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <%-include('footer')-%>