<%-include('header')-%>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                    class="fas fa-user-secret me-2"></i>goCycle</div>
            <div class="list-group list-group-flush my-3">
                <a href="dashboard"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Dashboard</a>
            <a href="productmanagement"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Products</a>
            <a href="category"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Category</a>
            <a href="userMangement"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">User mangement</a>
            <a href="bannermangement"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Banner mangement</a>
            <a href="orderMangement"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Order
                management</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">Add
                coupons</a>
            <a href="logout"
                class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Recent Orders</h3>


                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <!-- <th scope="col">Name</th> -->
                                    <th scope="col">Paymentmethod</th>
                                    <th scope="col">Total</th>
                                    
                                    <th scope="col">State</th> 
                                    <th scope="col">Status</th>

                                    <th scope="col">Option</th>
                                    <th scope="col">Change status</th>
                                    <!-- <th scope="col">Option</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i < orders.length;i++){%>
                                    <tr>
                                        <th scope="row">
                                            <%=i+1%>
                                        </th>
                                        <td>
                                            <%=orders[i].paymentMethod%>
                                        </td>
                                        <td>
                                            <%=orders[i].totalAmount%>
                                        </td>
                                        
                                        <td>
                                            <%=orders[i].deliveryDetails.state%>
                                        </td>
                                        <%if(orders[i].ordercanceled === false){%>
                                        <td><%=orders[i].status%></td>
                                        <%}else{%>
                                            <td>ordercanceled</td>
                                        <%}%>

                                        
                                            <%if(orders[i].status == "delivered"){%>
                                                <td scope="col">delivered</td>  
                                            <%}else if(orders[i].ordercanceled === false){%>
                                                <td scope="col"><button class="btn btn-danger" onclick="confirmDelete(`<%=orders[i]._id%>`)"  >Cancel Order</button></td>
                                            <%}else{%>
                                                <td>order cancelled</td>
                                            <%}%>
                                        
                                           
                                            <%if(orders[i].status == "delivered"){%>
                                                <td>delivered</td>
                                            <%}else if(orders[i].ordercanceled === true){%>
                                                <td></td>
                                            <%}else{%>  
                                            <td>    
                                                <form action="/admin/change-status/<%=orders[i]._id%>" method="post">
                                                <select class=" form-select-lg mb-3" name="status" > 
                                                        <option name="" value="0" selected>Select </option>
                                                        <option value="pending">pending</option>
                                                        <option value="placed">placed</option>
                                                        <option value="delivered">delivered</option>
                                                </select> 
                                                <button class="btn btn-info float-left second ms-3"> SAVE </button>
                                            </form>
                                            </td>
                                            <%}%>
                                           
                                        </td>
                                        
                                        <td>
                                            
                                        </td>

                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                        
                          <% if (pages > 0) { %>
                            <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                    <li class="disabled"><a>First</a></li>
                                <% } else { %>
                                    <li><a href="?page=1">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="active"><a><%= i %></a></li>
                                    <% } else { %>
                                        <li><a href="?page=<%=i%>"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <li class="disabled"><a>...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <li class="disabled"><a>Last</a></li>
                                <% } else { %>
                                    <li><a href="?page=<%=pages%>">Last</a></li>
                                <% } %>
                            </ul>
                        <% } %>

                          
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // function changestatus(proId) {
        //     Swal.fire({
        //         title: 'Are you sure?',
        //         text: "You won't be able to revert this!",
        //         icon: 'warning',
        //         showCancelButton: true,
        //         confirmButtonColor: '#3085d6',
        //         cancelButtonColor: '#d33',
        //         confirmButtonText: 'Yes, delete it!'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             Swal.fire(
        //                 'Deleted!',
        //                 'Your file has been deleted.',
        //                 'success'
        //             ).then(() => {
        //                 location.href = `/admin/change-status/${proId}`
        //             })
        //         }
        //     })
        // }

    function confirmDelete(proId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
                'Order Canceled!',
                'Your order has been canceled.',
                'success'
            ).then(() => {
                location.href = `/admin/cancelorder/${proId}`
            })
        }
    })
  }
    </script>



    <%-include('footer')-%>