<%-include('header')-%>
    <link rel="stylesheet" href="/static/stylesheets/cart.css">
    

    <!--Cart Section-->
    <section class="mt-5">
        <div class="container">
            <div class="cart">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-white">Product</th>
                                <th scope="col" class="text-white">Price</th>
                                <th scope="col" class="text-white">Quantity</th>
                                <th scope="col" class="text-white">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <% product.forEach((element,i)=>{%>
                                <tr>
                                    <th scope="row">
                                        <%=i+1%>
                                    </th>
                                    <td>
                                        <div class="main">
                                            <div class="d-flex">
                                                <!--W=145 H=98--> <img style="width: 145px;height: 98px;"
                                                    src="/static/product-image/<%=element.product._id%>.jpg" alt="">
                                            </div>
                                            <div class="des">
                                                <p>
                                                    <%=element.product.name%>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6>Rs.<%=element.product.discountedPrice%>
                                        </h6>
                                    </td>
                                    <td>
                                        <button id="hellobutton" class="cart-increase-button" style="border-radius:50px ;" onclick="changeQuantity(`<%=element._id%>`,`<%=element.product._id%>`,`<%=userId%>`,-1)">-</button><span id="<%=element.product._id%>"><%=element.quantity%></span> <button style="border-radius:50px  ;" id="hellobutton" class="cart-increase-button"
                                            onclick="changeQuantity(`<%=element._id%>`,`<%=element.product._id%>`,`<%=userId%>`,1)">+</button>
                                    </td>
                                    <td>
                                        <h6></h6>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning float-left second"
                                            onclick="deleteItemCart(`<%=element.product._id%>`)">Remove Product</button>
                                    </td>
                                </tr>
                                <%})%>
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-4 offset-lg-4">
        <div class="checkout">
            <%if(total == "cart is empty"){%>
                <img src="/static/images/3973481.jpg" alt="">
                <a href="/" class="btn btn-dark mx-auto">Go shopping</a>
            <%}else{%>
                
            <ul>
                <li class="subtotal">subtotal
                    <!-- <span>.rs</span> -->
                    <span id="total"><%=total%></span>
                </li>
                <li class="cart-total">Total
                    <!-- <span>.rs</span> -->
                    <span id="totals"><%=total%></span>
                </li>
            </ul>
            <a href="/proccedToCheckOut" class="proceed-btn">Proceed to Checkout</a>
            <%}%>
        </div>
    </div>

    



    <!--  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="/static/javascripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        
        function deleteItemCart(proId) {
            Swal.fire({
                title: 'Are you sure ?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(() => {
                        location.href = `/deleteCartProduct/${proId}`
                    })
                }
            })
        }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%-include('footer')-%>