<%-include('header')-%>
  <style>
    .product-content {
      padding-top: 100px;
    }

    .product-imgs {
      padding-top: 100px;
    }
  </style>

  <div class="container pt-10">
    <div class="row">
      <%data.forEach((data)=>{%>
        <div class="col-md-5">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase mt-5 zoom img-container" id="img-container" style="width: 500pxl;">
                <img id="zoom" src="/static/product-image/<%=data._id%>.jpg" alt="">
              </div>
            </div>
            <div class="img-select">
              <div class="img-item">

                <img src="/static/product-image/<%=data._id%>.jpg" alt="shoe image">

              </div>
              <div class="img-item">

                <img src="/static/product-image/<%=data._id%>1.jpg" alt="shoe image">

              </div>
              <div class="img-item">

                <img src="/static/product-image/<%=data._id%>2.jpg" alt="shoe image">

              </div>
              <div class="img-item">

                <img src="/static/product-image/<%=data._id%>3.jpg" alt="shoe image">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">

          <!-- card right -->
          <div class="product-content">
            <h2 class="product-title">
              <%=data.name%>
            </h2>
            <a href="#" class="product-link">visit store</a>
            <!-- <div class = "product-rating">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div> -->

            <div class="product-price">
              <p class="new-price">Price:
                <%if(data.offer===0){%>
                  <span class="fw-bold d-block text-success">
                    Rs.<%=parseInt(data.price - (data.price * data.offer/100))%> </span>
                  <%}else{%>
                    <span class="fw-bold d-block text-success"><del class="text-danger">Rs:<%=data.price%></del>
                      Rs.<%=parseInt(data.price - (data.price * data.offer/100))%>
                    </span>
                    <%}%>
              </p>
            </div>

            <div class="product-detail">
              <h2>about this item: </h2>
              <p>
                <%=data.description%>
              </p>
              <ul>
                <li>Stock: <span>
                  <%=data.stock%>
                </span></li>
                <li>Available: <span>in stock</span></li>
                <li>Category: <span>
                    <%=data.category%>
                  </span></li>
              </ul>
            </div>

            <div class="purchase-info">
              <!-- <a href = "/add-to-cart/" class = "btn btn-primary mt-3">ADD TO CART</a> -->
              <button class="btn btn-primary mt-3" onclick="addToCart(`<%=data._id%>`)">ADD TO CART</button>

            </div>
          </div>
          <%})%>
        </div>

    </div>
  </div>


  <script src="/static/javascripts/zoomsl.min.js"></script>
  <script>
    function addToCart(proId) {
      $.ajax({
        url: `/add-to-cart/${proId}`,
        method: 'get',
        success: (response) => {
          if (response.status == false) {
            location.href = '/login'
          }else{
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Added to wishlist',
              showConfirmButton: false,
              timer: 1500
            })
            // location.href = '/'
            let count = $('#cart-count').html()
            count = parseInt(count) + 1
            $('#cart-count').html(count)
          }
        }
      })

    }
  </script>
  <script>
    $(document).ready(function () {
      $('.img-item img').click(function () {
        var image = $(this).attr('src');
        $('.img-showcase img').attr('src', image)
      })
    })

    $('#zoom').imagezoomsl({
      zoomrange: [4, 4]
    })

  </script>
  <!-- <script>
    var options = {
      width: 200,
      zoomWidth: 500,
      offset: { vertical: 0, horizontal: 10 },
      scale: 1
    };
    new ImageZoom(document.getElementById("img-container"), options);   
  </script> -->
  <script src="/static/javascripts/productDetails.js"></script>

  <%-include('footer')-%>